Footer.footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    padding: 0 2em;

    background-color: #fff;
    color: var(--lightly);
    box-shadow: var(--shadow);

    .icon,
    .meaning {
        text-decoration: none;
        color: #000;
    }
}